<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  </head>
  <body>

    <!-- content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 lmnu">
            <a href="/"><h1 class="logo"><img src="/images/todo-app-icon.png" /> ToDoApp</h1></a>
            <div class="list-group">
                <a href="/task/add" class="list-group-item">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Task
                </a>
                <a href="/tasks" class="list-group-item">
                    <i class="fa fa-tasks" aria-hidden="true"></i> View All Tasks
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Today Tasks
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> <span class="intoDate">+1</span>Tomorrow Tasks
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>  <span class="intoDate">+7</span>Next Week Tasks
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>  Custom Date Tasks
                </a>
            </div>
            </div>
            <div class="col-md-9">
        
        <div class="row" id="wbck">
            <div class="viewTask col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <label id="vTaskTitle"> Task Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>
                            <i class="glyphicon glyphicon-time"></i> Duration
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <div class="datetime">
                            <p class="date">March 23rd, 2017</p>
                            <p class="time">22:30</p>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <p class="toTimeArrow"><i class="glyphicon glyphicon-circle-arrow-right"></i></p>
                    </div>
                    <div class="col-xs-4">
                        <div class="datetime">
                            <p class="date">March 23rd, 2017</p>
                            <p class="time">23:30</p>
                        </div>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="notesArea">
                            <label>
                                <i class="fa fa-sticky-note" aria-hidden="true"></i> Notes
                            </label>
                            <div id="vTaskNotes">
                                Some notes for this task
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        
    </script>
  </body>
</html>